*{
  padding: 0;
  margin: 0 ;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}
.navbar-conatiner{
  width: 100%;
  height: 90px;
  background: rgb(103,34,128);
  background: linear-gradient(86deg, rgba(103,34,128,1) 20%, rgba(165,38,210,1) 75%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo{
  display: flex;
  align-items: center;
  width: 50%;
}
.navbar-logo h3{
  margin: 0 2%;
  font-size: 1.8rem;
  color: #fff;
  margin-right: 100px;
  font-weight: 500;
  word-wrap: normal;
}
.navbar-logo img{
  margin-left: 100px;
  height: 60px;
}
.navbar-list h3{
  font-size: 1.5rem;
  color: #fff;
  margin-right: 100px;
  font-weight: 300;
}
.form-conatiner{
  margin: 5% 0;
  text-align: center;
  max-width: 900px auto;
}
.form-input input{
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: 0.5px solid #2e2b2b;
  margin: 0 3% ;
  padding: 0 10px;
  text-transform: capitalize;
  font-size: 1.2rem;
  text-indent: 5px;
  margin-bottom: 3%;
}
.form-conatiner button{
  width: 887px;
  background: rgb(103,34,128);
  background: linear-gradient(86deg, rgba(103,34,128,1) 20%, rgba(165,38,210,1) 75%);
  padding: 20px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: all 0.5s;
}
.form-conatiner button:hover{
  color: #000000;
  cursor: pointer;
  background: rgb(103,34,128);
  background: linear-gradient(277deg, rgba(103,34,128,1) 20%, rgba(165,38,210,1) 75%);
}
.meme-image{
  max-width: 100%;
  margin: 3% 0;
}